@charset "UTF-8"

// Bootstrap
@import "../scss/core/bootstrap/functions"
@import "../scss/core/bootstrap/variables"
@import "../scss/core/bootstrap/rfs"

// CORE
@import "../scss/core/mixins"
@import "../scss/core/colors"
//$primary-color: #26a69a

@import "../scss/core/variables"
@import "../scss/core/global"
@import "../scss/core/helpers"
@import "../scss/core/masks"
@import "../scss/core/waves"

// FREE
@import "../scss/free/buttons"
@import "../scss/free/cards"
@import "../scss/free/forms"
@import "../scss/free/loader"

// BOOTSTRAP

// CORE FUNCTIONS
@import '../scss/bootstrap/bootstrap-rtl-fix/functions'
@import '../scss/bootstrap/free/functions'

// CORE VARIABLES
@import '../scss/bootstrap/free/variables'
@import '../scss/bootstrap/bootstrap-rtl-fix/variables'

// BOOTSTRAP CORE
@import '../scss/bootstrap/bootstrap-rtl-fix/mixins'
@import '../scss/bootstrap/bootstrap-rtl-fix/utilities'

// BOOTSTRAP COMPONENTS
@import '../scss/bootstrap/bootstrap-rtl-fix/buttons'

// MDB CORE
@import '../scss/bootstrap/free/mixins'

// MDB COMPONENTS
@import '../scss/bootstrap/free/buttons'

@import "mixins"

.ant-btn, .btn, .ant-menu-item, .ant-menu-submenu-title
  span
    vertical-align: middle

.btn-rounded
  +border-radius(10em)

.btn-block
  display: block

.btn
  text-transform: unset
  font-size: 1rem
  .anticon
    margin-right: 10px

.sidebar-navigation
  .nav-link.active
    background-color: $primary-color
    color: white
